[Desktop Entry]
Type=Application
Name=GNOME Terminal Startup
Exec=gnome-terminal --full-screen -- /bin/bash -c "5G-IoT-Gateway/run.sh; exec bash -i"
Comment=Start Webserver on startup
