<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!--<meta http-equiv="refresh" content="5">-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/bootstrap.min.css">
  <link rel="stylesheet" href="../static/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
  <title>5G Gateway</title>

</head>

<body>
  <div class="container">
    <div class="row" id="headerBar">
      <div class="col-md-4 col-xs-4 ">
        <form action="/reboot" target="_parent">
          <button class="headerButton"> Reboot </button>
        </form>
      </div>
      <div class="col-md-4 col-xs-4">
        <form action="/shutdown" target="_parent">
          <button class="headerButton"> Shutdown Server </button>
        </form>
      </div>
      <div class="col-md-4 col-xs-4">
        <form action="/" target="_parent">
          <button class="headerButton"> Settings </button>
        </form>
      </div>
    </div>

    <div class="row">
      <div onclick="getNetwork()" class="col-12 header" id="networkStats">
        <p id="status"> Network Status: Connected</p>
        <p id="latency"> Latency: ms</p>
        <p id="UL"> Upload: Mbps</p>
        <p id="DL"> Download: Mbps</p>
      </div>
    </div>

    <div id="dataRow" class="row">
      <div class="col-md-6 col-xs-6">
        <button onclick="logData(0)" id="logBtn">Log</button>
      </div>
      <div class="col-md-6 col-xs-6">
        <div class="row">
          <div class="col-12 col-sm-12">
            <button onclick="logData(1)" class="smBtn">Reset Log</button>
          </div>
          <div class="col-12 col-sm-12">
            <form action="/show_data" target="_parent">
              <button type="submit" class="smBtn"> Show Log </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="bandBox" class="row">
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <button onclick="getBandPower(1)" id="band1" class="bandBtn"> n71: </button>
        </div>
        <div class="col-md-6 col-xs-6">
          <button onclick="getBandPower(2)" id="band2" class="bandBtn">n77:</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <button onclick="getBandPower(3)" class="bandBtn" id="band3">n78: </button>
        </div>
        <div class="col-md-6 col-xs-6">
          <button onclick="getBandPower(4)" class="bandBtn" id="band4">n79: </button>
        </div>
      </div>
    </div>


  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>