<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="refresh" content="5">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/rebootStyles.css">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <title>5G Gateway</title>

</head>

<body>

    <div id="reboot">
        <img src="../static/broken_robot.jpg" width="200" height="200">

    </div>
    <div id="reboot">
        Night Night
    </div>
    <div class="wrapper">
        <form action="/" target="_parent">
            <button type="submit" id="refreshBtn"> Refresh </button>
        </form>
    </div>
</body>