<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="refresh" content="5">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/settingstyles.css">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <title>5G Gateway</title>

</head>

<body>
    <div class="container">
        <div class = "row">
            <form action="/" target="_parent">
                <button type="submit" class="Btn white_text" id="BackBtn">Back</button>
            </form>
        </div>

        <div class="row" id="SDRsettings">
            <div class="col-xs-12">
                <form id = "bandForm">
                    <label for="oldName">Slot:</label>
                    <select id="oldName" name="oldName">
                        <option value="{{band0}}">{{band0}}</option>
                        <option value="{{band1}}">{{band1}}</option>
                        <option value="{{band2}}">{{band2}}</option>
                        <option value="{{band3}}">{{band3}}</option>
                    </select><br>

                    <label for="newName">Name:</label>
                    <input type="text" id="newName" name="newName"><br>
                    <label for="freq">Freq: </label>
                    <input type="text" id="freq" name="freq"><br>
                    <label for="rate">Rate: </label>
                    <input type="rate" id="rate" name="rate"><br>
                    <label for="gain">Gain: </label>
                    <input type="text" id="gain" name="gain"><br>
                    <label for="samples">Samples: </label>
                    <input type="text" id="samples" name="samples"><br>
                    <button type="button" onclick="changeBandSettings()">Submit</button>
                </form>
            </div>
        </div>
    </div>



    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>