body {
    background-color: #000000;
    font-family: "Courier New", Courier, monospace;
}

h1 {
    color: white;
}

#output {
    color: #FFFFFF;
}

form input {
    background: none;
    border: none;
    color: white;
}

input[type="text"]:focus {
    outline: none;
}

span,
form {
    display: inline-block;
}

form {
    border-bottom: 2px solid #ccc;
}

input[type="text"] {
    width: 200px;
    text-overflow: fade(10px) fade(10px);
}

.green{
    color: #30fd4c;
}

.blue{
    color: #0059ff;
}